h7 {
  text-align: center;
}


/* .list-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #9d0000;
    width: 500px; 
    height: 600px; 

  } */

.room-list-container {
    padding: 10px; 
  }
  
.user-list-container {
    padding: 10px; 
  }
  
.room-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0; 
  }
  
.room-list-item {
    margin-right: 10px; 
  }

  .additional-text {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 470px;
    top: 90px;
    font-family: sans-serif;
    font-size: 20px;
  }



